<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd">

    <jee:jndi-lookup jndi-name="jms/mqFactory" id="jmsFactory"/>
    <jee:jndi-lookup jndi-name="jms/queue.first" id="firstQueue"/>
    <jee:jndi-lookup jndi-name="jms/queue.second" id="secondQueue"/>
    <jee:jndi-lookup id="name" jndi-name="Name"/>

    <bean id="baseListener" class="com.pyruby.queue.FirstListener">
        <constructor-arg index="0" ref="insertTemplate"/>
    </bean>

    <bean id="firstListener" class="org.springframework.jms.listener.adapter.MessageListenerAdapter">
        <constructor-arg ref="baseListener"/>
        <property name="defaultListenerMethod" value="first"/>
    </bean>

    <bean id="secondListener" class="org.springframework.jms.listener.adapter.MessageListenerAdapter">
        <constructor-arg ref="baseListener"/>
        <property name="defaultListenerMethod" value="second"/>
    </bean>

    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="jmsFactory"/>
        <property name="destination" ref="secondQueue"/>
        <property name="messageListener" ref="firstListener"/>
    </bean>

    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="jmsFactory"/>
        <property name="destination" ref="firstQueue"/>
        <property name="messageListener" ref="secondListener"/>
    </bean>

    <bean id="talker" class="com.pyruby.queue.Talker" init-method="queueMessages">
        <constructor-arg index="0">
            <bean class="org.springframework.jms.core.JmsTemplate">
                <property name="connectionFactory" ref="jmsFactory"/>
                <property name="defaultDestination" ref="secondQueue"/>
            </bean>
        </constructor-arg>
    </bean>

    <bean id="server" class="org.hsqldb.server.Server" init-method="start" destroy-method="stop">
        <property name="properties">
            <bean class="org.hsqldb.persist.HsqlProperties">
                <constructor-arg index="0">
                    <props>
                        <prop key="server.database.0">mem:apidb</prop>
                        <prop key="server.dbname.0">apidb</prop>
                        <prop key="server.port">11009</prop>
                    </props>
                </constructor-arg>
            </bean>
        </property>
        <property name="silent" value="false"/>
    </bean>

    <bean id="insertTemplate" class="org.springframework.jdbc.core.simple.SimpleJdbcInsert" depends-on="dsInit">
        <constructor-arg index="0" ref="datasource"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg index="0" ref="datasource"/>
    </bean>

    <bean id="datasource" class="org.hsqldb.jdbc.JDBCDataSourceFactory" factory-method="createDataSource" depends-on="server">
        <constructor-arg index="0">
            <props>
                <prop key="url">jdbc:hsqldb:hsql://localhost:11009/apidb</prop>
                <prop key="username">sa</prop>
                <prop key="password"/>
            </props>
        </constructor-arg>
    </bean>

    <bean class="org.springframework.jdbc.datasource.init.DataSourceInitializer" id="dsInit">
        <property name="dataSource" ref="datasource"/>
        <property name="databasePopulator">
            <bean class="org.springframework.jdbc.datasource.init.ResourceDatabasePopulator">
                <property name="scripts">
                    <list>
                        <value>classpath:init.db</value>
                    </list>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="foo" class="com.pyruby.queue.FooServlet">
        <constructor-arg index="0" ref="name"/>
        <constructor-arg index="1" ref="jdbcTemplate"/>
    </bean>
</beans>